
# TODO: add Idempotency-Key for API v2

openapi: 3.1.3

info:
  title: Mazee API
  version: 1.0.0
  description: >
    Contract for Mazee — a social + Orthodox utilities platform.
    Generated clients: TypeScript (web) & Kotlin (Android). Backend: Phoenix.

servers:
  - url: https://api.mazee.app/v1
    description: Production
  - url: https://staging.api.mazee.app/v1
    description: Staging
  - url: http://localhost:4000/v1
    description: Local dev

tags:
  - name: Misc
  - name: Auth
  - name: Profiles
  - name: Users
  - name: Synaxis
  - name: Posts
  - name: Media
  - name: Chat
  - name: Priests & Confession
  - name: Synaxarion
  - name: Services
  - name: Search
  - name: Notifications

paths:
  # ---------------- Sanity Checks and Info ----------------
  /version:
    $ref: "./paths/misc.yaml#/version"
  /health:
    $ref: "./paths/misc.yaml#/health"

  #---------- Auth ----------
  /auth/register:
    $ref: "./paths/auth.yaml#/auth_register"
  /auth/login:
    $ref: "./paths/auth.yaml#/auth_login"
  /auth/refresh:
    $ref: "./paths/auth.yaml#/auth_refresh"
  /auth/logout:
    $ref: "./paths/auth.yaml#/auth_logout"
  /auth/verify-email:
    $ref: "./paths/auth.yaml#/auth_verify-email"
  /auth/request-password-reset:
    $ref: "./paths/auth.yaml#/auth_request-password-reset"
  /auth/reset-password:
    $ref: "./paths/auth.yaml#/auth_reset-password"
  /auth/sessions:
    $ref: "./paths/auth.yaml#/auth_sessions"
  /auth/sessions/{sessionId}:
    $ref: "./paths/auth.yaml#/auth_sessions_sessionId"
  /auth/push-tokens:
    $ref: "./paths/auth.yaml#/auth_push-tokens"
  /handles/check:
    $ref: "./paths/auth.yaml#/handles_check"

  # ---------- Profiles ----------
  /profiles/{userId}:
    $ref: "./paths/profiles.yaml#/profiles_userId"
  /profiles/{userId}/block:
    $ref: "./paths/profiles.yaml#/profiles_userId_block"
  /profiles/{userId}/mute:
    $ref: "./paths/profiles.yaml#/profiles_userId_mute"

  # ---------- Users (secure admin + self-service) ----------
  /users:
    $ref: "./paths/users.yaml#/users"
  /users/{userId}:
    $ref: "./paths/users.yaml#/users_userId"
  /me:
    $ref: "./paths/users.yaml#/me"
  /me/settings:
    $ref: "./paths/users.yaml#/me_settings"
  /me/delete:
    $ref: "./paths/users.yaml#/me_delete"

  # ---------- Synaxis (friends/edges) ----------
  /synaxis:
    $ref: "./paths/synaxis.yaml#/synaxis"
  /synaxis/{userId}:
    $ref: "./paths/synaxis.yaml#/synaxis_userId"
  /synaxis/requests:
    $ref: "./paths/synaxis.yaml#/synaxis_requests"
  /synaxis/requests/{requestId}:
    $ref: "./paths/synaxis.yaml#/synaxis_requests_requestId"

  /synaxis/suggestions:
    $ref: "./paths/synaxis.yaml#/synaxis_suggestions"

  # ---------- Posts ----------
  /posts:
    $ref: "./paths/posts.yaml#/posts"
  /users/{userId}/posts:
    $ref: "./paths/posts.yaml#/users_userId_posts"
  /posts/{postId}:
    $ref: "./paths/posts.yaml#/posts_postId"
  /posts/{postId}/like:
    $ref: "./paths/posts.yaml#/posts_postId_like"
  /posts/{postId}/comments:
    $ref: "./paths/posts.yaml#/posts_postId_comments"
  /posts/{postId}/comments/{commentId}:
    $ref: "./paths/posts.yaml#/posts_postId_comments_commentId"
  /reports:
    $ref: "./paths/posts.yaml#/reports"

  # ---------- Media ----------
  /media/uploads:
    $ref: "./paths/media.yaml#/media_uploads"
  /media/{mediaId}:
    $ref: "./paths/media.yaml#/media_mediaId"
  /media/uploads/{uploadId}:
    $ref: "./paths/media.yaml#/media_uploads_uploadId"
  /media/uploads/{uploadId}/complete:
    $ref: "./paths/media.yaml#/media_uploads_uploadId_complete"

  # ---------- Chat (live messaging) ----------
  /chats:
    $ref: "./paths/chat.yaml#/chats"
  /chats/{chatId}/messages:
    $ref: "./paths/chat.yaml#/chats_chatId_messages"
  /chats/{chatId}:
    $ref: "./paths/chat.yaml#/chats_chatId"
  /chats/{chatId}/members:
    $ref: "./paths/chat.yaml#/chats_chatId_members"
  /chats/{chatId}/members/{userId}:
    $ref: "./paths/chat.yaml#/chats_chatId_members_userId"
  /chats/{chatId}/messages/{messageId}:
    $ref: "./paths/chat.yaml#/chats_chatId_messages_messageId"
  /chats/{chatId}/typing:
    $ref: "./paths/chat.yaml#/chats_chatId_typing"
  /chats/{chatId}/read:
    $ref: "./paths/chat.yaml#/chats_chatId_read"

  # ---------- Priests, schedules, confession ----------
  # /priests:
  #   $ref: "./paths/clergy.yaml#/priests"
  # /priests/{priestId}/schedule:
  #   $ref: "./paths/clergy.yaml#/priests_priestId_schedule"
  # /priests/{priestId}/appointments:
  #   $ref: "./paths/clergy.yaml#/priests_priestId_appointments"

  # # Congregations
  # /congregations:
  #   $ref: "./paths/clergy.yaml#/congregations"
  # /congregations/{id}:
  #   $ref: "./paths/clergy.yaml#/congregations_id"

  # # Practitioners (polymorphic)
  # /practitioners:
  #   $ref: "./paths/clergy.yaml#/practitioners"
  # /practitioners/{id}:
  #   $ref: "./paths/clergy.yaml#/practitioners_id"
  # /practitioners/{id}/schedule:
  #   $ref: "./paths/clergy.yaml#/practitioners_id_schedule"
  # /practitioners/{id}/appointments:
  #   $ref: "./paths/clergy.yaml#/practitioners_id_appointments"

  # ---------- Synaxarion ----------
  /synaxarion:
    $ref: "./paths/synaxarion.yaml#/synaxarion"
  /synaxarion/{entryId}:
    $ref: "./paths/synaxarion.yaml#/synaxarion_entryId"
  /synaxarion/{entryId}/life:
    $ref: "./paths/synaxarion.yaml#/synaxarion_entryId_life"

  # ---------- Services ----------
  /services/text:
    $ref: "./paths/services.yaml#/services_text"
  /services/plan:
    $ref: "./paths/services.yaml#/services_plan"
  /services/chant/identify:
    $ref: "./paths/services.yaml#/services_chant_identify"
  # TODO: in v2
  # /services/reminders:
  #   $ref: "./paths/services.yaml#/services_reminders"

  # ---------- Search ----------
  /search:
    $ref: "./paths/search.yaml#/search"
  /search/suggestions:
    $ref: "./paths/search.yaml#/search_suggestions"

  # ---------- Notifications ----------
  /notifications:
    $ref: "./paths/notifications.yaml#/notifications"
  /notifications/{notificationId}:
    $ref: "./paths/notifications.yaml#/notifications_notificationId"
  /notifications/mark-all-read:
    $ref: "./paths/notifications.yaml#/notifications_mark-all-read"

components:
  securitySchemes:
    bearerAuth:
      $ref: "./components/securitySchemes.yaml#/bearerAuth"
    refreshToken:
      $ref: "./components/securitySchemes.yaml#/refreshToken"
    cookieAuth:
      $ref: "./components/securitySchemes.yaml#/cookieAuth"
    apiKeyAuth:
      $ref: "./components/securitySchemes.yaml#/apiKeyAuth"
  parameters:
    userId:
      $ref: "./components/parameters.yaml#/userId"
    postId:
      $ref: "./components/parameters.yaml#/postId"
    chatId:
      $ref: "./components/parameters.yaml#/chatId"
    limit:
      $ref: "./components/parameters.yaml#/limit"
    after:
      $ref: "./components/parameters.yaml#/after"
  responses:
    NotFound:
      $ref: "./components/responses.yaml#/NotFound"
    Unauthorized:
      $ref: "./components/responses.yaml#/Unauthorized"
    Forbidden:
      $ref: "./components/responses.yaml#/Forbidden"
    Conflict:
      $ref: "./components/responses.yaml#/Conflict"
    # Add other responses as needed, referencing each one individually

security:
  - bearerAuth: []
  - refreshToken: []
  - cookieAuth: []
  - apiKeyAuth: []


# openapi: 3.1.3

# info:
#   title: Mazee API
#   version: 1.0.0
#   description: >
#     Contract for Mazee — a social + Orthodox utilities platform.
#     Generated clients: TypeScript (web) & Kotlin (Android). Backend: Phoenix.

# servers:
#   - url: https://api.mazee.app/v1
#     description: Production
#   - url: https://staging.api.mazee.app/v1
#     description: Staging
#   - url: http://localhost:4000/v1
#     description: Local dev
# tags:
#   - name: Auth
#   - name: Profiles
#   - name: Synaxis
#   - name: Posts
#   - name: Media
#   - name: Chat
#   - name: Priests & Confession
#   - name: Synaxarion
#   - name: Services
#   - name: Search
#   - name: Notifications
# paths:

#   # ---------------- Sanity Checks and Info ----------------
#   # ---------- Auth ----------
#   # ---------- Profiles ----------
#   # ---------- Synaxis (friends/edges) ----------
#   # ---------- Posts & Media ----------
#   # ---------- Chat (live messaging) ----------
#   # ---------- Synaxarion ----------
#   # ---------- Search ----------
#   # ---------- Notifications ----------
#   # ---------- Services ----------------

#   # ---------- Priests, schedules, confession ----------
#   /priests:
#     get:
#       summary: Browse priests (certified)
#       operationId: listPriests
#       tags: ["Priests & Confession"]
#       security: [{ bearerAuth: [] }]
#       parameters:
#         - in: query
#           name: near
#           description: Optional location filter (lat,lng)
#           schema: { type: string, example: "37.98,23.72" }
#       responses:
#         "200":
#           description: Priests
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/PriestPage" }

#   /priests/{priestId}/schedule:
#     get:
#       summary: Confession schedule for a priest
#       operationId: getPriestSchedule
#       tags: ["Priests & Confession"]
#       parameters:
#         - in: path
#           name: priestId
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       responses:
#         "200":
#           description: Slots
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/Schedule" }

#   /priests/{priestId}/appointments:
#     post:
#       summary: Book a confession slot
#       operationId: bookConfession
#       tags: ["Priests & Confession"]
#       security: [{ bearerAuth: [] }]
#       parameters:
#         - in: path
#           name: priestId
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema: { $ref: "../components/schemas/AppointmentCreate" }
#       responses:
#         "201": { description: Booked }

# # Congregations
#   /congregations:
#     get:
#       summary: List congregations
#       operationId: listCongregations
#       tags: [Priests & Confession]
#       parameters:
#         - in: query
#           name: kind
#           schema: { type: string, enum: [church, parish, monastery, group, choir, school] }
#         - in: query
#           name: near
#           description: "lat,lng"
#           schema: { type: string, example: "37.98,23.72" }
#       responses:
#         "200":
#           description: OK
#           content:
#             application/json:
#               schema:
#                 type: object
#                 properties:
#                   data:
#                     type: array
#                     items: { $ref: "../components/schemas/Congregation" }
#                   next: { type: string, nullable: true }

#   /congregations/{id}:
#     get:
#       summary: Get congregation
#       operationId: getCongregation
#       tags: [Priests & Confession]
#       parameters:
#         - in: path
#           name: id
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       responses:
#         "200":
#           description: OK
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/Congregation" }
#         "404": { $ref: "../components/responses.yaml#/NotFound" }

#   # Practitioners (polymorphic)
#   /practitioners:
#     get:
#       summary: Browse practitioners (priests, masters, etc.)
#       operationId: listPractitioners
#       tags: [Priests & Confession]
#       parameters:
#         - in: query
#           name: role
#           schema:
#             type: string
#             enum: [priest, iconographer, woodmaster, marblemaster, bic]
#         - in: query
#           name: congregationId
#           schema: { $ref: "../components/schemas/ID" }
#         - in: query
#           name: near
#           schema: { type: string, example: "37.98,23.72" }
#       responses:
#         "200":
#           description: OK
#           content:
#             application/json:
#               schema:
#                 type: object
#                 properties:
#                   data:
#                     type: array
#                     items: { $ref: "../components/schemas/Practitioner" }
#                   next: { type: string, nullable: true }

#   /practitioners/{id}:
#     get:
#       summary: Get practitioner (Priest or Master)
#       operationId: getPractitioner
#       tags: [Priests & Confession]
#       parameters:
#         - in: path
#           name: id
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       responses:
#         "200":
#           description: OK
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/Practitioner" }
#         "404": { $ref: "../components/responses.yaml#/NotFound" }

#   # Schedules & appointments (generic)
#   /practitioners/{id}/schedule:
#     get:
#       summary: Get provider schedule
#       operationId: getSchedule
#       tags: [Priests & Confession]
#       parameters:
#         - in: path
#           name: id
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       responses:
#         "200":
#           description: OK
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/Schedule" }

#   /practitioners/{id}/appointments:
#     post:
#       summary: Book an appointment
#       operationId: bookAppointment
#       tags: [Priests & Confession]
#       security: [{ bearerAuth: [] }]
#       parameters:
#         - in: path
#           name: id
#           required: true
#           schema: { $ref: "../components/schemas/ID" }
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [slotStart]
#               properties:
#                 slotStart: { $ref: "../components/schemas/ISODateTime" }
#                 note: { type: string, maxLength: 500 }
#       responses:
#         "201":
#           description: Created
#           content:
#             application/json:
#               schema: { $ref: "../components/schemas/Appointment" }

# components:
#   parameters:
#     userId:
#       in: path
#       name: userId
#       required: true
#       schema: { $ref: "../components/schemas/ID" }
#     postId:
#       in: path
#       name: postId
#       required: true
#       schema: { $ref: "../components/schemas/ID" }
#     chatId:
#       in: path
#       name: chatId
#       required: true
#       schema: { $ref: "../components/schemas/ID" }
#     limit:
#       in: query
#       name: limit
#       schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
#     after:
#       in: query
#       name: after
#       schema: { type: string, description: Cursor for pagination }

#   # schemas:
#     # --- Auth ---
#     # --- Profiles ---
#     # --- Synaxis ---
#     # --- Posts & Media ---
#     # --- Synaxarion & Services ---
#     # --- Search & Notifications ---

#     # --- Chat ---
#     # ChatCreate:
#     #   type: object
#     #   required: [participantIds]
#     #   properties:
#     #     participantIds:
#     #       type: array
#     #       items: { $ref: "../components/schemas/ID" }
#     #     title: { type: string, nullable: true }
#     # Chat:
#     #   type: object
#     #   properties:
#     #     id: { $ref: "../components/schemas/ID" }
#     #     title: { type: string, nullable: true }
#     #     participants:
#     #       type: array
#     #       items: { $ref: "../components/schemas/profile/Profile.yaml" }
#     #     lastMessage: { $ref: "../components/schemas/Message" }
#     # ChatPage:
#     #   type: object
#     #   properties:
#     #     data:
#     #       type: array
#     #       items: { $ref: "../components/schemas/chat/Chat.yaml" }
#     #     next: { type: string, nullable: true }

#     # MessageCreate:
#     #   type: object
#     #   required: [content]
#     #   properties:
#     #     content: { type: string, maxLength: 8000 }
#     #     mediaUploadIds:
#     #       type: array
#     #       items: { $ref: "../components/schemas/ID" }
#     # Message:
#     #   type: object
#     #   properties:
#     #     id: { $ref: "../components/schemas/ID" }
#     #     sender: { $ref: "../components/schemas/profile/Profile.yaml" }
#     #     content: { type: string }
#     #     media:
#     #       type: array
#     #       items: { $ref: "../components/schemas/Media" }
#     #     sentAt: { $ref: "../components/schemas/ISODateTime" }
#     # MessagePage:
#     #   type: object
#     #   properties:
#     #     data:
#     #       type: array
#     #       items: { $ref: "../components/schemas/Message" }
#     #     next: { type: string, nullable: true }

#     # # --- Priests & Confession ---
#     # Priest:
#     #   type: object
#     #   properties:
#     #     id: { $ref: "../components/schemas/ID" }
#     #     name: { type: string }
#     #     parish: { type: string }
#     #     verified: { type: boolean }
#     #     specialties: { type: array, items: { type: string } }
#     #     location: { type: string }
#     # PriestPage:
#     #   type: object
#     #   properties:
#     #     data:
#     #       type: array
#     #       items: { $ref: "../components/schemas/Priest" }
#     #     next: { type: string, nullable: true }

#     # Schedule:
#     #   type: object
#     #   properties:
#     #     priestId: { $ref: "../components/schemas/ID" }
#     #     slots:
#     #       type: array
#     #       items:
#     #         type: object
#     #         properties:
#     #           start: { $ref: "../components/schemas/ISODateTime" }
#     #           end: { $ref: "../components/schemas/ISODateTime" }
#     #           available: { type: boolean }
#     # AppointmentCreate:
#     #   type: object
#     #   required: [slotStart]
#     #   properties:
#     #     slotStart: { $ref: "../components/schemas/ISODateTime" }
#     #     note: { type: string, maxLength: 500 }

# security:
#   - bearerAuth: []
